@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(image.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  font-family: "Lora", serif;
}

h1 {
  font-weight: 100;
  font-size: 2.8rem;
  margin-top: -19.5%;
}

.container {
  display: flex;
}

.container .a {
  width: 130px;
  padding: .5rem;
  text-align: center;
}

.big-text {
  font-weight: 100;
  font-size: 4rem;
  line-height: 2.5;
}
.container span {

  margin: 0 auto;
  text-transform: uppercase;
}
