@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #373b69;
  font-family: "Lora", serif;
}

#header {
  margin-top: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
}

#form {
  width: 35%;
}

#input {
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 1rem;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: rgba(245, 245, 245, 0.899);
}

#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.movies {
  position: relative;
  overflow: hidden;
  margin: 1rem;
  background-color: #c0c1cf3d;
  width: 210px;
  border-radius: 5px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.movies img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.footer {
  cursor: default;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem; /* Increase padding */
}

.footer h3 {
  font-size: 0.9rem;
  letter-spacing: 0.02rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer span {
  height: fit-content;
  background-color: #22254bda;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  font-weight: 400;
  padding: 0.25rem;
  border-radius: 2.5px;
}

.overview {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  overflow: auto;
  transform: translateY(100%);
  line-height: 1.4;
  font-weight: 400;
}

.overview > h4 {
  padding: .5rem;
  text-align: center;
}


.movies:hover .overview{
  transform: translateY(0);
  transition: transform 0.5s;
}

